<footer class=" flex bg-gray-200 py-10">
  <div class="w-full px-5  mx-auto">
    <h1>Get the BTD app</h1>
    <p class="font-light fs-12">We will send you a link, open it on your phone to download the app </p>
    <div class="row">
    <div class="w-full md:w-6/12 flex justify-between items-center gap-5 ">
      <div class="relative z-0 w-6/12 mb-5  group">
        <input type="email"id="floating_email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
        <label for="floating_email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">email</label>
        </div>
      <button class="w-3/12 h-10 items-center btn bg-gray-300  p-1 rounded  m-0 text-sm" type="button">Share App Link</button>
    </div>
    <div class="w-full md:w-6/12 flex items-center my-5 py-5 justify-end ">
  <div class="flex items-center gap-2 "><p class="h6 m-0">Get BTD App</p>
  <img class="" src="assets/images/get-apple-store.png" width="100px" alt="">
  <img class="" src="assets/images/get-google-play.png" width="100px" alt="">
  </div>
    </div>
  </div>
  <div class="con">
    <div class="row justify-center gap-5">
      <P class=""> All Rights for BTD &#169; 2024</P>
      <ul class="flex gap-1">
      <li>
        <a href=""  ><i class="fab fa-instagram fs-6"></i></a>
      </li>
      <li>
          <a href=""  ><i class="fab fa-facebook"></i></a>
        </li>
        </ul>
    </div>
  </div>


  </div>
  </footer>
