<footer class="bg-gray-200 py-10">
  <div class="w-11/12 mx-auto">
    <h3>Get the FreshCart app</h3>
    <p>We will send you a link, open it on your phone to download the app </p>
    <div class="flex gap-5">
      <div class="relative z-0 w-4/5 mb-5 group">
        <input type="email"id="floating_email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
        <label for="floating_email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">email</label>
        </div>
      <button class="btn btn-main m-0 text-sm" type="button">Share App Link</button>
    </div>
    <div class="md:flex items-center justify-between my-5 py-5 ">
      <div class="flex items-center  gap-2"><p class="fw-bold">Payment Partners</p>
      <img src="assets/images/amazon-pay.png" width="50px" alt="">
      <img src="assets/images/American-Express-Color.png" width="50px" alt="">
      <img src="assets/images/mastercard.webp" width="50px"  alt="">
      <img src="assets/images/paypal.png" width="50px" alt=""></div>
  <div class="flex items-center gap-2 "><p class="h6 m-0">Get deliveries with FreshCart</p>
  <img class="" src="assets/images/get-apple-store.png" width="100px" alt="">
  <img class="" src="assets/images/get-google-play.png" width="100px" alt="">
  </div>
    </div>
  </div>
  </footer>
